body {
  background-color: #D7DBDD;
}
.span_red {
  color: red;
}
.span_blue {
  color: blue;
}
.span_green {
  color: green;
}

.span_black {
  color: black;
}

.center_header {
  text-align: center;
  font-size: 1.8em;
}

.about_center_header {
  text-align: center;
  font-size: 1em;
}

.paragraph_size {
  margin-top: .2em;
  margin-bottom: .2em;
  font-size: 1.2em;
  border-left-style: solid;
  border-color: navy;
  background-color: lightcyan;
  border-left-width: .5em;
}

.seperator_horizontal {
  border-bottom-style: solid;
}

.div_green {
  color: green;
}

.div_red {
  color: red;
}

.div_blue {
  color: blue;
}

.about_style {
  font-size: 1.4em;
  font-family: monospace;
  border-left-style: solid;
  border-color: #C39BD3;
  background-color: #82E0AA;
  border-left-width: .5em;
}
