.span_red {
  color: red;
}
.span_blue {
  color: blue;
}
.span_green {
  color: green;
}

.center_header {
  text-align: center;
  font-size: 1.8em;
}

.paragraph_size {
  font-size: 1.2em;
}

.div_green {
  color: green;
}

.div_red {
  color: red;
}

.div_blue {
  color: blue;
}
